# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.log
*.ipch
*.db
*.opendb
.vs/ClothSimulator/v15/.suo
*.tlog
*.pdb
*.ilk
*.user
*.filters
.vs/ClothSimulator/v16/.suo

# Ignore Debug folder
Debug
